<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Add Stock</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Josh Taylor">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Add Stock</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				{{#if admin}}
					<a href="/logout">Log out</a>
				{{else}}
					<a href="/login">Log in</a>
				{{/if}}
			{{/if}}
		</header>
	<main>
		<p>This is the add stock levels page.</p>
        <form>
            <label for="title">Book Name</label>
			<input type="text" name="title"/>
			<label for="author">Author</label>
			<input type="text" name="author"/>
			<label for="publication-date">Date</label>
			<input type="date" name="publication-date"/>
			<label for="isbn">ISBN-13</label>
			<input type="number" name="isbn"/>
			<label for="description">Description</label>
			<input type="text" name="description"/>
			<label for="thumbnail">Thumbnail Image</label>
			<input type="file" name="thumbnail"/>
			<label for="trade_price">Trade Price</label>
			<input class="trade_price" type="range" min="1" max="100" name="trade_price"/>
			<p name="trade_value">VALUE: <p class="trade_value"></p></p>
			<input class="retail_price" type="range" min="1" max="100" name="retail_price"/>
			<p name="retail_value">VALUE: <p class="retail_value"></p></p>
			<input class="trade_price" type="range" min="1" max="100" name="trade_price"/>
			<p name="trade_value">VALUE: <p class="trade_value"></p></p>
        </form>
	</main>
	</body>
</html>