
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Terms of Use</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Terms of Use</h1>
    <p>These terms and conditions govern you to be able to use this website. We may modify these terms from time to time but you will be notified either trough email, phone or text. By using this site you are bound to use these terms.<br/><br/><strong>1. USE OF THE SITE</strong><br/><br/>This site is for user in the United Kingdom only.<br/>This site may provide links to other third party sites which may use different terms. Any links to other sites do not receive any endorsement by us and you are navigating to the site at your own risk.<br/><br/><strong>2. REGISTRATION</strong><br/><br/>To use the features of this website it requires that you are registered with an account. If you register we may ask you for personal details although no sensitive data is collected up to the present.<br/>You are responsible for the proper use and security of any passwords you use on the site.<br/><br/><strong>3. AVAILABILITY</strong><br/><br/>It is technically impossible to bring a constantly functioning website, but in the event that downtime occurs we will aim to resolve the problem as fast as we possibly can.<br/>We have the right to modify, edit, delete or suspend any product on the site unannounced.<br/><br/><strong>4. YOUR CONTENT</strong><br/><br/>You are responsible for all content including files, comments, suggestions that you upload to the site.<br/>You give us non-exclusive license to use or publish any content that you upload.<br/><br/><strong>5. CUSTOMER OBLIGATION</strong><br/><br/>You must not try to disassemble, break down or hack the site.<br/>You must not use the site to:<br/>gain unauthorised access to other computer systems<br/>attempt to damage the operations of the site<br/>provide false misleading information about yourself.<br/><br/><strong>6. DATA PROTECTION</strong><br/><br/>We will comply with applicable data protection legislation and maintain all relevant registratoins for the purpose of operating the site.<br/><br/><strong>7. THIRD PARTY RIGHTS</strong><br/><br/>A person who is not party to these terms under Contracts (Rights of Third Parties) Act 1999 to enforce any of these terms, but this does not affect any right or remedy of a third party which exists or is available apart from that Act.<br/><br/><strong>8. APPLICABLE LAW</strong><br/><br/>These terms are governed by the law of England and Wales. Any disputes out of the use of this site are to be submitted to the English Courts.</p>
	</body>
</html>